<% provide(:title, '帰社日の作成') %>
<h1>帰社日の作成</h1>

<div class="row">
  <div class="span6 offset6">

    <%= form_for(@return_office_date) do |f| %>
    <div class="return_office_dates">
      <%= render 'fields', f: f %>
      <%= render 'shared/error_messages', object: f.object %></br>
      <%= f.submit "作成", class: "btn btn-samll btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
