<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Future-Commynity!!</h1>
  <h2>
    we are head for geek team.
    <%= link_to "Network Solution Group.", root_path %>
    sample site.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("devops-ninja.jpg", alt: "DevOps",:size => '150x110'), root_path %>
<%= link_to image_tag("devops-for-drupal.jpg", alt: "DevOps",:size => '150x110'), root_path %>


