<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Future-Commynity</h1>
  <h2>
    This is the Home page for the
    <%= link_to "Network Solution Group", root_path %>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), root_path %>