<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Future-Commynity!!</h1>
  <h2>
    This is the Home page for the
    <%= link_to "Network Solution Group", root_path %>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("devops-ninja.jpg", alt: "Rails",:size => '150x110'), root_path %>
<%= link_to image_tag("devops-for-drupal.jpg", alt: "Rails",:size => '150x110'), root_path %>


