<% provide(:title, 'Create Group') %>
<h1>Create Group</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_for(@group) do |f| %>
      <%= render 'fields', f: f %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.submit "作成", class: "btn btn-samll btn-primary" %>
    <% end %>

  </div>
</div>
