<% provide(:title, 'ユーザー登録完了') %>
<h1>ユーザー登録完了</h1>

<div class="row">
  <div class="span6 offset3">
  	アカウント登録はまだ仮登録の状態です。</br>
  	登録されたメールアドレスへ本登録するURLを送信しました。</br>
  	そちらのURLよりアカウント登録を完了させてください。
  </div>
</div>