<footer class="footer">
  <small>
  created by<a href="http://railstutorial.jp/">DevOps</a>&copy; 2013
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>